<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Logout", destroy_user_session_path %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <div class="form-group">
          <%= form_tag("/", method: "get", :enforce_utf8 => false) do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "New Profile", new_user_registration_path %></li>
      </ul>
    <% end %>
    </div>
  </nav>
